body { 
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body > * {
    padding: 0 250px;
}

.header, .main-content, .footer {
    background-color: #1F2937; 
}

.header, .footer {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    justify-content: space-between;
}

.link-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.main-content img {
    max-width: 50%;
    flex: auto;
}

.main-content {
    display: flex;
    gap: 56px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.random-info, .quote-section {
    padding: 0 300px;
}

.random-info {
    text-align: center;
    margin-bottom: 56px;
}

h2 {
    padding: 24px;
    margin-bottom: 24px;
}

.carousel {
    display: flex;
    gap: 32px;
    color: grey;
}

.square-image img {
    border: 3px solid #3882F6;
    border-radius: 24px;
    max-width: 100%;
}

.square-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
}

.quote-section {
    background-color: #E5E7EB;
    padding-top: 150px;
    padding-bottom: 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.signature {
    text-align: right;
    font-weight: bold;
}

.sign-up-section {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 32px 80px;
    margin: 150px 300px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-section strong {
    font-size: 28px;
}

.sign-up-button {
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
}

.sign-up-section .sign-up-button {
    border: 2px solid white;
}

.main-content .sign-up-button {
    border: none;
}

.footer {
    justify-content: center;
    padding: 24px 0;
    color: #E5E7EB;
}
