body { 
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header, .main-content {
    background-color: #1F2937; 
    padding: 0 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.link-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.main-content img {
    max-width: 50%;
    flex: auto;
}

.main-content {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.random-info, .quote-section {
    padding: 0 300px;
}

.random-info {
    text-align: center;
    margin-bottom: 56px;
}

h2 {
    padding: 24px;
    margin-bottom: 24px;
}

.carousel {
    display: flex;
    gap: 32px;
    color: grey;
}

.square-image img {
    border: 3px solid #3882F6;
    border-radius: 24px;
    max-width: 100%;
}

.square-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
}

.quote-section {
    background-color: #E5E7EB;
    padding-top: 150px;
    padding-bottom: 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.signature {
    text-align: right;
    font-weight: bold;
}
